* {
    box-sizing: border-box;
    margin: 0px;
}

.head {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    margin: 0px;
    padding: 20px;
}

.navbar ul li {
    display: flex;
    color: black;
}

ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: bold;
}

.navbar2 ul li {
    display: flex;
    justify-content: end;
    align-items: end;
    align-self: flex-end;
    align-content: end;
    justify-items: end;
    justify-self: end;
}



.foot {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 20px;
    gap: 20px;
}

.contact_sect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headings {
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
}

.foot_body {
    padding-bottom: 10px;
}

.outer_outer_box {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0px;
    margin: 80px 0px 100px 0px;
    justify-content:space-around;
}
  
.outer_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0px;
    padding: 0px;
}
  
  
.box {
    width: 200px;
    height: 230px;
    border-radius: 10px;
    background-color: #D9D9D9;
    margin: 0px;
    padding: 0px;
}

.prod {
    display: flex;
    gap: 10px;
}

.circle {
    display: flex;
    align-self: center;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}

.box_text {
    display: flex;
    justify-content: center;
    max-width: 190px;
    text-align: center;
}

.qty,.product_name,.price {
    font-weight: bold;
}